# Ignore specific files
.firebase.js

# Ignore directories
/node_modules/
/coverage/
/build/
/atlas/src/config/

# Ignore local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files
.DS_Store
