.App {
  text-align: center;
}

nav {
  background-color: #333;
  position: fixed;
  width: 100%;
  z-index: 100;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
  text-shadow: 2px 2px 0 #fff, 4px 4px 0 #555;
  line-height: 3;
  font-family: "Space Mono", monospace; /* sets the font family to Space Mono */
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; /* sets the display property of the list items to flex */
}

nav li {
  margin: 0;
  padding: 0;
}

nav a {
  display: inline-block; /* displays the links as inline-block level elements */
  padding: 1rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
}

nav a:hover {
  background-color: #555;
}
